html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    background-color: #d3a373;
    font-family: 'Koulen', cursive;
    color: #fefadf;
}
#winnerContainer {
    margin-top: 2rem;
    font-size: 5rem;
    text-align: center;
}

#counterContainer {
    margin-top: 6rem;
    margin-bottom: 5rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.vs {
    align-self: center;
    font-size: 3rem;
}

.youScore, .computerScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}

.youContainer, .computerContainer {
    display: flex;
    gap: 3.5rem;
}

.youChoice, .pcChoice {
    display: flex;
}

.choicePC, .choicePlayer{
    width: 12rem;
    align-self: flex-end;
}

/* buttons */

#buttons {
    height: 9rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 3rem;
}

input.button {
    width: 5rem;
}

input.button:hover {
    width: 5.5rem;
    transition: 400ms;
}
/* buttons end */

/* restart button */
#restartContainer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

#restart {
    font-family: 'Koulen';
    font-weight: 400;
    font-size: 3rem;
    border: 0;
    background-color: #fefadf;
    color: #d3a373;
}
#restart:hover {
    font-size: 3.5rem;
    transition: 400ms;
}